@charset "utf-8";



.colap-dugme{
	border: 1px solid black;
	width: 100%;
	padding: 0.2em;
}

.collapse{
	margin: 1em
}

hr{
	margin-bottom: em
}

@media (max-width: 768px){
.naslov{
font-size: 2rem;	
  width: 100%;
  color: rgb(245, 245, 245);
  text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
  margin-bottom: 2em;
  text-align: center;
}
}

@media (min-width: 768px) {
	.naslov{
		margin-bottom: 2em;
	}
	
	.naslov > h1{
  font-size: 4rem;	
  width: 100%;
  color: rgb(245, 245, 245);
  text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
  text-align: center;
}
	
	.naslov > h2{
  font-size: 3rem;	
  width: 100%;
  color: rgb(245, 245, 245);
  text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
  text-align: center;
}
}
	
	.search-container{
		display:flex;
		
	}

a, a:hover{
	color: white
}



.col{
	background-color: white
}

.dropdown-content li:hover {
	background-color: rgba(18,97,179,1.00)
}

html {
	height: 100%
}
/* CSS Document */

.column{
	padding-bottom: 1em
}

.column  a {
	margin: 0.5em;
}

.column img{
		padding-top: 0.5em
	}	

@media (max-width: 768px) {
.masonry { /* Masonry container */
  column-count: 1;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
}

@media (min-width: 768px) {
.masonry { /* Masonry container */
  column-count: 3;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
	margin-top: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
	

}

@media (max-height: 400px) {
.masonry { /* Masonry container */
  column-count: 2;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  width: 100%;
}
}


.column {
	height: 100%;
	position:inherit;
	justify-content: flex-end;
}

.column:hover{
	
	border-style: 1px solid;
	border-color: aqua;
}


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
background: url("../banneri/background-okrug.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	
}

.btn-index{
	background-color: rgba(12,64,118,1.00);
	font: normal;
	color: white;
	font-size: 2vh;
	border-style: solid;
	border-color: aliceblue;
}  

.btn-index:hover{
	border: 2.5px solid;
	border-color: aqua;
}


      
      
      /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      } 
  
      
      .dropdown-content {
background-color:rgba(12,64,118,1.00);
  
        margin-top: 4vh;
        max-height: 40vh;
        max-width: 100%;
		
      }


.navbar{
		height: 3em;
	}
	
	.navbar > div{
	display: block;
		height: 1em;
	}
	
	.navbar-brand{
		height: 1.5em;
	}
	
	.navbar-brand p {
		margin-top: -2em
	}

.center{
	margin: auto;
}

.center>img{
	margin: auto;
	display: block;
	padding-top: 1em;
		
}

.row{
	margin: auto;
	bottom: 0
}

.bot-dugmici{
width: 100%;
height: 4em;	
position: fixed;
padding-bottom: 0;	
z-index: 2	
}
@media(max-width: 768px){
	.bot-dugme1 > p,
.bot-dugme2 > p,
.bot-dugme3 > p,
.bot-dugme4 > p {
	font-size: 0.85em;
	}
}


@media(min-width: 768px){
    .bot-dugme1 > p,
.bot-dugme2 > p,
.bot-dugme3 > p,
.bot-dugme4 > p {
	margin: auto;
	color: white;
	text-align: center;
font-size: 2em	
}
	
}


.bot-dugme1 > p,
.bot-dugme2 > p,
.bot-dugme3 > p,
.bot-dugme4 > p {
	margin: auto;
	color: white;
	text-align: center;
	background: rgba(0,0,0,0.44);
	height: 100%
		
}

.bot-dugme1,
.bot-dugme2,
.bot-dugme3,
.bot-dugme4 {
	width: 25%;
	background-color: #333333;
	border-right: 2px solid rgba(12,64,118,1.00);
	border-left: 2px solid rgba(12,64,118,1.00);
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
}

.bot-dugme1 {
	background-image: url("../banneri/money-2724235_640.jpg")
}
.bot-dugme2 {
	background-image:url("../banneri/poslovnioglasi.jpg")
}
.bot-dugme3 {
	background-image:url("../banneri/novioglasi.jpg")
}
.bot-dugme4 {
	background-image: url("../banneri/obavestenja.jpg")
}



.bot-dugme:hover{
	background-color: rgba(12,64,118,1.00)
}

	.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1em;		
}

        
	
