@media (min-width: 768px) {
	
		.grid-container-btn {
        display: grid;
        grid-template-columns: 31% 31% 31% ;
        column-gap: 0.5em; 
        margin-left: 4%;
		margin-right: 1%;
		margin-top: 1%;	
        z-index: -2;
		margin-bottom: 3vh;
		position: center center ;
			
      }
	
	.grid-container-btn > a {
		margin: 0.2em;
		object-position: center center;
		width: 100%;
		margin-bottom: %;
		
	}
}


@media (max-width: 768px){
	
	.grid-container-btn {
        display: grid;
        grid-template-columns: 49% 49% ;
        column-gap: 1%;
        padding-bottom: 5%;                         
        height: 100%;
		margin-top: 1em;	
		grid-row-gap: 1%;
        z-index: -2;
		margin-bottom: 3vh;
		position: center center ;
		margin: auto;
		padding-top: 1em;
      }
	
	.grid-container-btn > a {
		padding: rem;
		width: 13em;
		height: 4em;
		margin-bottom: 2%;
		text-align: center;
		vertical-align: middle
		
	}
	
}
	
	@media (max-height: 400px) {
	
	.grid-container-btn {
        display: grid;
        grid-template-columns: 24% 24% 24% 24% ;
        column-gap: 1%;
        padding-bottom: 5%;                         
       
        margin-left: 4%;
		margin-right: 1%;
		margin-top: 1%;	
		grid-row-gap: 1%;
        z-index: -2;
		margin-bottom: 3vh;
		position: center center ;
			
      }
	
	.grid-container-btn > a {
		padding: rem;
		object-position: center center;
		width: 100%;
		margin-bottom: 2%;
		
	}
	}