	.zigic{
		background: url("../stranice/Delatnosti/medicina/zdravstvo i medicina/inter. Zigic/Zigic/Dr-zigicM-manji-banner1.jpg")
	}
	.zigic-marina{
		background: url("../stranice/Delatnosti/medicina/pedijatrija/Dr-marina/main_banner_marina.jpg")
	}
.tr-pahuljica{
	background: url("../stranice/Delatnosti/maloprodaja-i-veleprodaja/TR pahuljica/26904568_173284276776219_6964221468164328470_n.jpg")
}
.jocic-grejanje{
	background: url("../stranice/Delatnosti/usluge/Jole-kotao/IMG_20201201_005840[1].jpg")
}
.dubinsko-pranje-012{
	background: url("../stranice/Delatnosti/usluge/Dubinsko-pranje-namestaka012/banner - Copy.jpg")
}
.elektromontaza-filipovic{
	background: url("../stranice/Delatnosti/Postavljanje-elektricnih-instalacija/Filipovic/EF-logo-1-plava-podloga-1024x1024-400x400.jpeg")
}
@media (max-width: 768px){
	
	.naslov h2{
		font-size: 0.9em;
	}

	.kartice-sve{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
			background: rgba(23,94,134,1);
			background-attachment: fixed;
			background-size:cover;
			background-repeat: no-repeat;
	}

	 .blog-container {
	 background: #fff;
	 border-radius: 5px;
	 box-shadow: rgba(0, 0, 0, .2) 0 4px 2px -2px;
	 font-family: "adelle-sans", sans-serif;
	 font-weight: 100;
	 margin: 48px auto;
	 width: 90%;
	 padding-bottom: 1vh;	 
	}
 .blog-container a {
	 color: #4d4dff;
	 text-decoration: none;
	 transition: 0.25s ease;
}
 .blog-container a:hover {
	 border-color: #ff4d4d;
	 color: #ff4d4d;
}
 .blog-cover {
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 border-radius: 5px 5px 0 0;
	 height: 15rem;
	 box-shadow: inset rgba(0, 0, 0, .2) 0 64px 64px 16px;
}
 .blog-author, .blog-author--no-cover {
	 margin: 0 auto;
	 padding-top: 0.125rem;
	 width: 80%;
}
 .blog-author h3::before, .blog-author--no-cover h3::before {
	 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
	 background-size: cover;
	 border-radius: 50%;
	 content: " ";
	 display: inline-block;
	 height: 32px;
	 margin-right: 0.5rem;
	 position: relative;
	 top: 8px;
	 width: 32px;
}
 .blog-author h3 {
	 color: #fff;
	 font-weight: 100;
}
 .blog-author--no-cover h3 {
	 color: #999;
	 font-weight: 100;
}
 .blog-body {
	 margin: 0 auto;
	 width: 80%;
}
 .video-body {
	 height: 100%;
	 width: 100%;
}
	.blog-header{
	background: black;
		border-top-left-radius:5px ;
		border-top-right-radius:5px ;
	}
	.blog-title h2 {
		margin-bottom: 4vh;
	}
 .blog-title h2 a {
	 font-weight: 100;
}
 .blog-summary p {
	 color: #4d4d4d;
	 text-align: center;
}
 .blog-tags ul {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 list-style: none;
	 padding-left: 0;
}
 .blog-tags li + li {
	 margin-left: 0.5rem;
}
 .blog-tags a {
	 border: 1px solid #999;
	 border-radius: 3px;
	 color: #999;
	 font-size: 0.75rem;
	 height: 1.5rem;
	 line-height: 1.5rem;
	 letter-spacing: 1px;
	 padding: 0 0.5rem;
	 text-align: center;
	 text-transform: uppercase;
	 white-space: nowrap;
	 width: 5rem;
}
 .blog-footer {
	 border-top: 1px solid #e6e6e6;
	 margin: 0 auto;
	 padding-bottom: 0.125rem;
	 width: 80%;
}
 .blog-footer ul {
	 list-style: none;
	 display: flex;
	 flex: row wrap;
	 justify-content: flex-end;
	 padding-left: 0;
}
 .blog-footer li:first-child {
	 margin-right: auto;
}
 .blog-footer li + li {
	 margin-left: 0.5rem;
}
 .blog-footer li {
	 color: #999;
	 font-size: 0.75rem;
	 height: 1.5rem;
	 letter-spacing: 1px;
	 line-height: 1.5rem;
	 text-align: center;
	 text-transform: uppercase;
	 position: relative;
	 white-space: nowrap;
}
 .blog-footer li a {
	 color: #999;
}
 .comments {
	 margin-right: 1rem;
}
 .published-date {
	 border: 1px solid #999;
	 border-radius: 3px;
	 padding: 0 0.5rem;
}
 .numero {
	 position: relative;
	 top: -0.5rem;
}
 .icon-star, .icon-bubble {
	 fill: #999;
	 height: 24px;
	 margin-right: 0.5rem;
	 transition: 0.25s ease;
	 width: 24px;
}
 .icon-star:hover, .icon-bubble:hover {
	 fill: #ff4d4d;
}
	.navbar-brand strong {
		font-size: 1.4em;
	}
	
	
	}
@media (min-width: 768px){
	.kartice-glavno{
		display: block;
		width: 100%;
		height: auto;
	}
	.kartice-sve{
		display: flex;
		flex-wrap: wrap;
		width: auto;
			background: rgba(23,94,134,1);
			background-attachment: fixed;
			background-size:cover;
			background-repeat: no-repeat;
	}	
	

	 .blog-container {
	 background: #fff;
	 border-radius: 5px;
	 box-shadow: rgba(0, 0, 0, .2) 0 4px 2px -2px;
	 font-family: "adelle-sans", sans-serif;
	 font-weight: 100;
	 margin: 48px auto;
	 width: 45%;
	 padding-bottom: 1vh;	 
	}
 .blog-container a {
	 color: #4d4dff;
	 text-decoration: none;
	 transition: 0.25s ease;
}
 .blog-container a:hover {
	 border-color: #ff4d4d;
	 color: #ff4d4d;
}
 .blog-cover {
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 border-radius: 5px 5px 0 0;
	 height: 15rem;
	 box-shadow: inset rgba(0, 0, 0, .2) 0 64px 64px 16px;
}
 .blog-author, .blog-author--no-cover {
	 margin: 0 auto;
	 padding-top: 0.125rem;
	 width: 80%;
}
 .blog-author h3::before, .blog-author--no-cover h3::before {
	 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
	 background-size: cover;
	 border-radius: 50%;
	 content: " ";
	 display: inline-block;
	 height: 32px;
	 margin-right: 0.5rem;
	 position: relative;
	 top: 8px;
	 width: 32px;
}
 .blog-author h3 {
	 color: #fff;
	 font-weight: 100;
}
 .blog-author--no-cover h3 {
	 color: #999;
	 font-weight: 100;
}
 .blog-body {
	 margin: 0 auto;
	 width: 80%;
}
 .video-body {
	 height: 100%;
	 width: 100%;
}
	.blog-header{
	background: black;
		border-top-left-radius:5px ;
		border-top-right-radius:5px ;
	}
	.blog-title h2 {
		margin-bottom: 4vh;
	}
 .blog-title h2 a {
	 font-weight: 100;
}
 .blog-summary p {
	 color: #4d4d4d;
	 text-align: center;
}
 .blog-tags ul {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 list-style: none;
	 padding-left: 0;
}
 .blog-tags li + li {
	 margin-left: 0.5rem;
}
 .blog-tags a {
	 border: 1px solid #999;
	 border-radius: 3px;
	 color: #999;
	 font-size: 0.75rem;
	 height: 1.5rem;
	 line-height: 1.5rem;
	 letter-spacing: 1px;
	 padding: 0 0.5rem;
	 text-align: center;
	 text-transform: uppercase;
	 white-space: nowrap;
	 width: 5rem;
}
 .blog-footer {
	 border-top: 1px solid #e6e6e6;
	 margin: 0 auto;
	 padding-bottom: 0.125rem;
	 width: 80%;
}
 .blog-footer ul {
	 list-style: none;
	 display: flex;
	 flex: row wrap;
	 justify-content: flex-end;
	 padding-left: 0;
}
 .blog-footer li:first-child {
	 margin-right: auto;
}
 .blog-footer li + li {
	 margin-left: 0.5rem;
}
 .blog-footer li {
	 color: #999;
	 font-size: 0.75rem;
	 height: 1.5rem;
	 letter-spacing: 1px;
	 line-height: 1.5rem;
	 text-align: center;
	 text-transform: uppercase;
	 position: relative;
	 white-space: nowrap;
}
 .blog-footer li a {
	 color: #999;
}
 .comments {
	 margin-right: 1rem;
}
 .published-date {
	 border: 1px solid #999;
	 border-radius: 3px;
	 padding: 0 0.5rem;
}
 .numero {
	 position: relative;
	 top: -0.5rem;
}
 .icon-star, .icon-bubble {
	 fill: #999;
	 height: 24px;
	 margin-right: 0.5rem;
	 transition: 0.25s ease;
	 width: 24px;
}
 .icon-star:hover, .icon-bubble:hover {
	 fill: #ff4d4d;
}
	
}
	
	.navbar-brand strong {
		font-size: 1em
	}
	
	h1{
		font-size: 1.3em;
		
		font-family: 'Oswald', sans-serif;
	}
h2{
	text-align: center;
}
	
	
	
	

