.zigic{
	background: url("../Delatnosti/medicina/zdravstvo i medicina/inter. Zigic/Zigic/Dr-zigicM-manji-banner1.jpg")
}
.via-verde{
	background: url("../pozarevac/via verde/183139386_4313902438629708_8062153981646800929_n.jpg");
}
.zigic-marina{
	background: url("../Delatnosti/medicina/pedijatrija/Dr-marina/main_banner_marina.jpg");
}
.evrotrgovina{
	background: url("../pozarevac/evotrgovina sapine/308347_477071425710797_730707814_n.png");
}
.stojanov-t{
	background: url("../pozarevac/stojanov-t/10431172_493936677375956_24775882496820608_o.jpg");
}
.namestaj-stevic{
	background: url("../pozarevac/namestaj stevic/names.jpg");
}
.slatki-trg{
	background: url("../pozarevac/Slatki Trg/37104443_1932858167014722_869482774359179264_n.jpg");
}
.stevic-mg{
	background: url("../pozarevac/stevic MG/30724173_1867600953272768_2598963742502813696_n.jpg");
}
.underground-pub{
	background: url("../pozarevac/underground pub/146591656_345913916658323_8338272121920889003_n.jpg");
}
.caffe-black-bar{
	background: url("../pozarevac/black bar/127228560_155067969698661_2247604256360114873_n.jpg");
}
.reaktor{
	background: url("../pozarevac/reaktor/Solarni paneli Požarevac (4).jfif.png");
}
.spedeks{
	background: url("../pozarevac/spedeks/port-1845350_1920.jpg");
}
.alupvc-djordjevic{
	background: url("../pozarevac/alu-pvc djordjevic/logo_djordjevic.png");
}
.tri-oks{
	background: url("../pozarevac/tr trioks/tr trioks.jpg");
}
.cardetailing012{
	background: url("../pozarevac/cardetailing012/26167358_2032091143727131_7256065170285350324_n.jpg");
}
.budic-nikola{
	background: url("../pozarevac/budic-nikola/2020-11-12.jpg");
}
.beauty-and-life{
	background: url("../pozarevac/beauty and life/55860883_2336787839913602_3543017478516899840_n.jpg");
}
.agencija-excellent{
	background: url("../pozarevac/agencija exellent/shaking-hands-3205463_1280.jpg");
}
.house-of-beauty{
	background: url("../pozarevac/house of beauty/makeup-1209798_1280.jpg");
}
.prva-rec-ucionica{
	background: url("../pozarevac/prva rec/160164006_201056925149762_2876532514985403174_n.jpg");
}
.vocni-biseri{
	background: url("../pozarevac/vocni biseri/Najbolje-voćne-rakije-Požarevac-Srbija2.jpg");
}
.market-parket{
	background: url("../pozarevac/market parket/mmarket-parket-tekst-png.png");
}
.poimex{
	background: url("../pozarevac/poimex/rsz_11rsz_logo_poimex_probno.png");
}
.asortiman-po{
	background: url("../pozarevac/asortiman/672v.jpg");
}
.blackjack-band{
	background: url("../pozarevac/blackjack band/blackjack.jpg");
}
.vodoprivreda{
	background: url("../pozarevac/vodoprivreda/VodoLogo.png");
}
.bilijar-klub-profesional{
	background: url("../pozarevac/Bilijar profesional/12063582_176859075982565_6347624291930842041_n.jpg");
}
.autoservis-misa{
	background: url("../pozarevac/autoservis misa/man-362150_1920.jpg");
}
.stomatolog-rankovic{
	background: url("../pozarevac/stomatolog Rankovic/180809890_267418191749099_2418376112160328854_n.png");
}
.ts-hemija{
	background: url("../pozarevac/ts hemija/logo_tshemija.jpg");
}
.edc-parlare{
	background: url("../pozarevac/EDC parlare/118702056_3141856482576962_4858080962328580715_n.png");
}
.stomatolog-boban-petrovic{
	background: url("../pozarevac/Boban petrovic stomatolog/chair-2589770_1920.jpg");
}
.car-effect-joksa{
	background: url("../pozarevac/car effect joksa/76914703_2563851613891334_5908687230385258496_n.jpg");
}
.red-dragon-tattoo{
	background: url("../pozarevac/red dragon tattoo/1924365_347511925426773_8365837906817739448_n.jpg");
}
.asm-servis{
	background: url("../pozarevac/mercedes servis ASM/11148784_923545427725576_2221578703220852592_o.jpg");
}
.pasta-bar-padrini{
	background: url("../pozarevac/pasta bar padrini/84334872_1848320481967446_5023279902703484928_n.jpg");
}
.szr-komi{
	background: url("../pozarevac/szr komi/Untitled.png");
}
.vila-jelena{
	background: url("../pozarevac/vila jelena/Vila-Jelana-012.svg");
}
.lazzaro{
	background: url("../pozarevac/lazzaro/14947972_590133251169950_2832597180813151888_n.jpg");
}
.salas-dorat{
	background: url("../pozarevac/salas dorat/13317073_246132695751429_3411871657764479598_o.jpg");
}
.anex-plus{
	background: url("../pozarevac/aneks knjig/logo.png");
}
.tr-sarenica{
	background: url("../pozarevac/tr sarenica/92691309_2884978418253738_7676665240238424064_n.jpg");
}
.vigor{
	background: url("../pozarevac/Vigor/vigor_logo.png");
}
.tectum{
	background: url("../pozarevac/tectum/heder_tectum_3.jpg");
}
.alupo{
	background: url("../pozarevac/alupo jankovic/logo.jpg");
}
.vet-misic{
	background: url("../pozarevac/vet ambulanta misic/107692010_2731380230476953_1052236652263531805_n.jpg");
}
.bilans-mg{
	background: url("../pozarevac/Bilans MG/100917322_110294020706755_2066856202637148160_n.jpg");
}
.strugar-cop{
	background: url("../pozarevac/strugar.cop/STRUGAR.COP.jpg");
}
.marko-pet-house{
	background: url("../pozarevac/dr-marko/logo.png");
}
.barfly{
	background: url("../pozarevac/barfly/921413_898977770180424_1697202243834871322_o.jpg");
}
.poslednjigros{
	background: url("../pozarevac/poslednji gros/index.jpg");
}
.cvecara-exclusive{
	background: url("../pozarevac/cvecara exclusive/14542444_360853534246359_4482656095699680338_o.jpg");
}
.lesko{
	background: url("../pozarevac/lesko doo/vrh.png");
}
.bohogrill{
	background: url("../pozarevac/boho grill/boho-gril.png");
}
.pedjolino{
	background: url("../pozarevac/PS pedjolino/52531064_468645803671996_4862975466765549568_n.jpg");
}
.pileipapaja{
	background: url("../pozarevac/pile i papaja/38036785_635530560158116_1821774055783530496_n.jpg");
}
.servis-daja{
	background: url("../pozarevac/Servis daja/919169_698265210184589_31914100_o.jpg");
}
.dobro-jutro{
	background: url("../pozarevac/dobro jutro/43105914_333686390526895_7361775009942994944_n.jpg");
}
.foto-gile{
	background: url("../pozarevac/foto gile/lens-1209823_1280.jpg");
}
.azuro{
	background: url("../pozarevac/pranje tepiha azuro/38614702_1792206180893515_4222202668740771840_n.png");
}
.venecija-dva{
	background: url("../pozarevac/venecija dva/restaurant-449952_1280.jpg");
}
.foto-boban{
	background: url("../pozarevac/foto boban/131902027_1308984432813581_4876128968389041502_n.png");
}
.diesel-arandjelovic{
	background: url("../pozarevac/servis-arandjelovic/1614037_206931946307430_4891574503068795359_o.jpg");
}
.pekara-duda{
	background: url("../pozarevac/pekara duda/10863911_1606265629603566_1249314620467808692_o.jpg");
}
.la-pozarevac{
	background: url("../pozarevac/la-pozarevac/logo.png");
}
.kafana-miris-dunja{
	background: url("../pozarevac/kafana miris dunja/12265549_608336592642102_3917040744105037679_o.jpg");
}
.dr-kazimir{
	background: url("../pozarevac/DR kazimir/acne-1606765_1920.jpg");
}
.farbara-LG{
	background: url("../pozarevac/farbara LG/unnamed.jpg");
}
.svilen-konac-original{
	background: url("../pozarevac/svilen konac-original/store-5619201_1920.jpg");
}
.elmont-gradnja{
	background: url("../pozarevac/elmont/25311095_312081735975754_1020849204915012973_o.jpg");
}
.mini-servis-dejan{
	background: url("../pozarevac/mini servis dejan/motor-2595269_1920.jpg");
}
.adria-komerc{
	background: url("../pozarevac/adria komerc/125429728_102351891702370_5769882587248664765_n.jpg");
}
.alaske-zore{
	background: url("../pozarevac/alaske-zore/fish-2230852_1920.jpg");
}
.profi-servis-012{
	background: url("../pozarevac/profi servis 012/158866103_236423578179148_6838709534486122586_n.jpg");
}
.agencija-uspeh-zorica{
	background: url("../pozarevac/Agencija uspeh/camera-1130731_1920.jpg");
}
.picerija-teos{
	background: url("../pozarevac/picerija teos/pizza-3010062_1920.jpg");
}
.mturs{
	background: url("../pozarevac/mturs/1603406926_97838_1.jpeg");
}
.stefistil{
	background: url("../pozarevac/stefistil/stefistil.png");
}
.fitnes-24{
	background: url("../pozarevac/fitnes 24/logo.svg");
}
.venetian-fashion{
	background: url("../pozarevac/venetian fashion/vene.jpg");
}
.VinCo{
	background: url("../pozarevac/VinCo/accountant-1238598_1920.jpg");
}
.slatki-bonbon{
	background: url("../pozarevac/slatki bonbon/chocolate-183543_1920.jpg");
}
.auto-start{
	background: url("../pozarevac/auto-start/car-engine-1738309_1920.jpg");
}
.bebino{
	background: url("../pozarevac/bebino/162301513_373583993981053_747499103894945494_n.jpg");
}
.slavuj-gradja{
	background: url("../pozarevac/slavuj gradja/material-691929_1920.jpg");
}
.tr-pahuljica{
	background: url("../Delatnosti/maloprodaja-i-veleprodaja/TR pahuljica/26904568_173284276776219_6964221468164328470_n.jpg");
}
.jocic-grejanje{
	background: url("../Delatnosti/usluge/Jole-kotao/IMG_20201201_005840[1].jpg")
}
.dubinsko-pranje-012{
	background: url("../Delatnosti/usluge/Dubinsko-pranje-namestaka012/banner - Copy.jpg")
}
.elektromontaza-filipovic{
	background: url("../Delatnosti/Postavljanje-elektricnih-instalacija/Filipovic/EF-logo-1-plava-podloga-1024x1024-400x400.jpeg")
}
.lider-plus{
	background: url("../pozarevac/Lider Plus/405b.jpg")
}
.total-profil{
	background: url("../pozarevac/totalprofil/index.png")
}
.security-home{
	background: url("../pozarevac/security-home-doo/nav-logo.png")
}
.stari-mlin{
	background: url("../pozarevac/stari mlin grk/558f232783de822feed5020620fd109c7429ecc3.jpeg")
}
.san-sebastijan{
	background: url("../pozarevac/san sebastijan/c7ecc03ef3ad5e36aca9352e1e5ae81ebd3da577.jpeg")
}
.geo-zenit{
	background: url("../pozarevac/Zenit/building-768815_1920.jpg")
}
.agencija-uspeh{
	background: url("../pozarevac/agencija-uspeh/logo0001.png")
}
.kafana-merak{
	background: url("../pozarevac/kafana-merak/index.jpg")
}
.laki-promet{
	background: url("../pozarevac/laki-promet/49521141_2002200953162413_1854389788321251328_n.jpg")
}
.stakloform{
	background: url("../pozarevac/stakloform/11401219_1074651222564213_692703642010585519_n.jpg")
}
.vitomir{
	background: url("../pozarevac/zoran-vitomirac/tools-498202_1920.jpg")
}
.servis-plus{
	background: url("../pozarevac/Servis plus/modern-kitchen-1772638_1920.jpg")
}
.kolacic-doo{
	background: url("../pozarevac/mmn kolacic/8883-mmn-kolacic-cover.jpg")
}
.plc-soft{
	background: url("../pozarevac/PLC soft/technology-1283624_1920.jpg")
}
.sm-sport{
	background: url("../pozarevac/SM-sport/107795867_2608192422826764_1089652974874842152_n.jpg")
}
.briliantex{
	background: url("../pozarevac/briliantex/fashion-1979136_1920.jpg")
}
.orijent-expres{
	background: url("../pozarevac/Orijent/food-2068217_1920.jpg")
}
.tesla-g{
	background: url("../pozarevac/TV servis G/49864223_1194509320703338_5604752198941540352_n.jpg")
}
.alupvc-ostojic{
	background: url("../pozarevac/ostojic/73020298_835781283483833_1959414310077726720_n.jpg")
}
.ambelos{
	background: url("../pozarevac/ambelos vinarija/a92095d1a4fb92ea8a2650e5ae6b1c359ed7d186.jpeg")
}
.alumoravac{
	background: url("../pozarevac/alumoravac/0710-1.jpg")
}
.apoteka-flos{
	background: url("../pozarevac/apoteka flos/pharmacy-218692_1920.jpg")
}
.krajina-drvo{
	background: url("../pozarevac/krajina drvo/o_nama2b.jpg")
}
.str-maja{
	background: url("../pozarevac/str maja/fruits-1534494_1920.jpg")
}
.farmakon-bhl{
	background: url("../pozarevac/farmakon/analysis-2030266_1920.jpg")
}
.paster-lab{
	background: url("../pozarevac/paster/analysis-2030266_1920.jpg")
}
.sigma-tm{
	background: url("../pozarevac/sigma tm/logo.png")
}
.optika-lux{
background: url("../pozarevac/optika lux/glasses-1246611_1920.jpg")
}
.milan-vicic{
background: url("../pozarevac/Milan Vicic/IMG_20220310_184727.jpg")
}


.filteri-delat{
	margin-top: 1vh;
	font-size: 1vh;
}
.btn-primary{
	font-size: 1.5vh;
	margin-top: 1vh;
}

@media (max-width: 768px){

	.nav-link{
		border-bottom: 2px solid #CCC;
		font-size: 2vh;
	}
	
		.oglasi-kartice{
		display: flex;
		flex-wrap: wrap;
		padding: 2vh;
		margin-top: 3vh;
	}
	
	.naslov h2{
		font-size: 0.9em;
	}

	.kartice-sve{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
			background: rgba(23,94,134,1);
			background-attachment: fixed;
			background-size:cover;
			background-repeat: no-repeat;
	}

	 .blog-container {
	 background: #fff;
	 border-radius: 5px;
	 box-shadow: rgba(0, 0, 0, .2) 0 4px 2px -2px;
	 font-family: "adelle-sans", sans-serif;
	 font-weight: 100;
	 margin:x auto;
	 width: 100%;
	 padding-bottom: 1vh;
	}
 .blog-container a {
	 color: #4d4dff;
	 text-decoration: none;
	 transition: 0.25s ease;
}
 .blog-container a:hover {
	 border-color: #ff4d4d;
	 color: #ff4d4d;
}
 .blog-cover {
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 border-radius: 5px 5px 0 0;
	 height: 10rem;
	 box-shadow: inset rgba(0, 0, 0, .2) 0 64px 64px 16px;
}
 .blog-author, .blog-author--no-cover {
	 margin: 0 auto;
	 padding-top: 0.125rem;
	 width: 80%;
}
 .blog-author h3::before, .blog-author--no-cover h3::before {
	 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
	 background-size: cover;
	 border-radius: 50%;
	 content: " ";
	 display: inline-block;
	 height: 32px;
	 margin-right: 0.5rem;
	 position: relative;
	 top: 8px;
	 width: 32px;
}
 .blog-author h3 {
	 color: #fff;
	 font-weight: 100;
}
 .blog-author--no-cover h3 {
	 color: #999;
	 font-weight: 100;
}
 .blog-body {
	 margin: 0 auto;
	 width: 80%;
}
 .video-body {
	 height: 100%;
	 width: 100%;
}
	.blog-header{
	background: black;
		border-top-left-radius:5px ;
		border-top-right-radius:5px ;
	}
	.blog-title h3 {
		margin-top: 1vh;
		margin-bottom: 3vh;
		font-size: 2.5vh;
	 text-align: center;
	}
 .blog-title h2 a {
	 font-weight: 100;
}
 .blog-summary p {
	 color: #4d4d4d;
	 text-align: center;
	 font-size: 2vh;
}
	.tag{
		width: 5vw;
		height: 3vh;
		border: 1px solid black;
		
	}
	.blog-tag{
		margin-top: 1vh;
	}
 .blog-tag .fas{
	 color: #4d4d4d;
	 z-index: 3
} 
.blog-tag .fas:hover{
	 color: red;
	 z-index: 3
}
 .blog-tag .fab{
	 color: #4d4d4d;
	 z-index: 3;
	 padding: 0.2em;
}
 .blog-tag .fab:hover{
	 color: royalblue;
	 z-index: 3;
	 padding: 0.2em;
}
	.navbar-brand strong {
		font-size: 1.4em;
	}
	
	
	}
@media (min-width: 768px){
	
	
	
	.oglasi-kartice{
		display: flex;
		flex-wrap: wrap;
		padding: 2vh;
		margin-top: 3vh;
	}
	
	.kartice-glavno{
		display: block;
		width: 100%;
		height: auto;
	}
	.kartice-sve{
		display: flex;
		flex-wrap: wrap;
		width: auto;
			background: rgba(23,94,134,1);
			background-attachment: fixed;
			background-size:cover;
			background-repeat: no-repeat;
	}	
	

	 .blog-container {
	 background: #fff;
	 border-radius: 5px;
	 box-shadow: rgba(0, 0, 0, .2) 0 4px 2px -2px;
	 font-family: 'Kumbh Sans', sans-serif;
	 font-weight: 100;
	 margin: auto;
	 width: 48%;
	 padding-bottom: 1vh;	
	border: 3px solid red; 
	 min-height: 30rem;
	}
 .blog-container a {
	 color: #4d4dff;
	 text-decoration: none;
	 transition: 0.25s ease;
}
 .blog-container a:hover {
	 border-color: #ff4d4d;
	 color: #ff4d4d;
}
 .blog-cover {
	 background-size: contain;
	 background-repeat: no-repeat;
	 background-position: center;
	 border-radius: 5px 5px 0 0;
	 height: 20vh;
	 box-shadow: inset rgba(0, 0, 0, .2) 0 64px 64px 16px;
}
 .blog-author, .blog-author--no-cover {
	 margin: 0 auto;
	 padding-top: 0.125rem;
	 width: 80%;
}
 .blog-author h3::before, .blog-author--no-cover h3::before {
	 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
	 background-size: cover;
	 border-radius: 50%;
	 content: " ";
	 display: inline-block;
	 height: 32px;
	 margin-right: 0.5rem;
	 position: relative;
	 top: 8px;
	 width: 32px;
}
 .blog-author h3 {
	 color: #fff;
	 font-weight: 100;
}
 .blog-author--no-cover h3 {
	 color: #999;
	 font-weight: 100;
}
 .blog-body {
	 margin: 0 auto;
	 width: 80%;
}
 .video-body {
	 height: 100%;
	 width: 100%;
}
	.blog-header{
	background: black;
		border-top-left-radius:5px ;
		border-top-right-radius:5px ;
	}
	.blog-title h3 {
		margin-top: 1vh;
		margin-bottom: 3vh;
		font-size: 2.1vh;
	 text-align: center;
	}
 .blog-title h2 a {
	 font-weight: 100;
}
 .blog-summary p {
	 color: #4d4d4d;
	 text-align: left;
	 font-size: 1.5vh;
}
	.tag{
		width: 5vw;
		height: 3vh;
		border: 1px solid black;
		
	}
	.blog-tag{
		margin-top: 2vh;
		margin: auto;
		display: flex;
		border-top: 1px solid #4d4d4d 
	}
 .blog-tag .fas{
	 color: #4d4d4d;
	 z-index: 3;
	 margin: auto;
	 align-self: center
		
}
	.blog-tag a{
		margin-top: 1vh;
	}
 .blog-tag .fab{
	 color: #4d4d4d;
	 z-index: 3;
	 padding: 0.2em;
}
 .blog-tag .fab:hover{
	 color: royalblue;
	 z-index: 3;
	 padding: 0.2em;
}
	
	
	/* 
	<a href="#" target="_blank"><i class="fab fa-internet-explorer fa-lg"></i></a>
	<a href="#" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
	<a href="#" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
	<a href="#" target="_blank"><i class="fab fa-youtube fa-lg"></i></a>
	*/ 
	
	
 .comments {
	 margin-right: 1rem;
}
 .published-date {
	 border: 1px solid #999;
	 border-radius: 3px;
	 padding: 0 0.5rem;
}
 .numero {
	 position: relative;
	 top: -0.5rem;
}
 .icon-star, .icon-bubble {
	 fill: #999;
	 height: 24px;
	 margin-right: 0.5rem;
	 transition: 0.25s ease;
	 width: 24px;
}
 .icon-star:hover, .icon-bubble:hover {
	 fill: #ff4d4d;
}
	
}
	
	.navbar-brand strong {
		font-size: 1em
	}
	
h2{
	text-align: center;
}
	
	.ima-stranica {
				box-shadow: 0px 0px 10px 8px #006699;
		font-size: 1.5em;
			}	

.ima-stranica h3{
	font-size: 1.2em;
}
	
	

