@media (max-width: 768px){
	.malo {
		height: 10em;
		margin: auto
	}
	.malo-plus {
		height: 12em;
		margin: auto
	}
	.srednje{
height: 15em;
	}
	.srednje-plus{
		height: 17em;
	}
	.veliko{
		height: 21em;
	}
	.veliko-plus{
		height: 24em;
	}
	
}
@media (max-width: 768px){
	
	.naslov h2{
		font-size: 0.9em;
	}
	
	.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;	
}	
	

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
 z-index: 99999999
}

.icon-bar:hover{
			z-index: 9999999
		}

.facebook {
  background: #3B5998;
  color: white;
  padding: 4px;
 width: 25%;
	
}

.twitter {
  background: #55ACEE;
  color: white;
  padding: 4px;
 width: 25%;
}
	
	.instagram {
background: rgba(94,15,140,1.00);
color: white;
  padding: 4px;
 width: 25%;
	}

.web{
background: #4f4f4f;
color: black;
 width: 25%;	
padding: 4px;
	}

.google {
  background: #dd4b39;
  color: white;
  padding: 4px;
 width: 25%;
}

.linkedin {
  background: #007bb5;
  color: white;
  padding: 4px;
 width: 25%;
}

.youtube {
  background: red;
  color: white;
  padding: 4px;
 width: 25%;
} 

	.redirex{
		  background: black;
  color: white;
	text-decoration: none;
		width: 25%;
		padding-top: 5%;
	}
	
	.icon-bar {
display: flex;
	position: absolute;
	width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	bottom: -1.4em;
	left: 0;
}
	
	
	.kartice-glavno{
		display: block;
		width: 100;
		height: auto;
		padding: auto;
		margin-top: 15em
	}
	.kartice-sve{
		display: block;
		width: auto;
		padding-bottom: 10em;
		margin-top: 5em
	}
	.kartica-telo{
		display: block;
		width: 35em;
	    position: relative;
		margin-bottom: 4em;
		margin-top: 2em;
		margin-left: 0.3em
		
	}
	.kartica-content{
		display: block;
		width: 27em;
		height: inherit;
		position: absolute; 
		left: 0; 
		bottom: 0;
		background: rgba(240,240,240,1.00);
		font-family: 'Oswald', sans-serif;
		border-radius: 0.6em;
		font-size: 0.8em
	}
	.kartica-slika{
		width: 10em;
		height: 7em;
		position: absolute;
		left: 1em;
		top: -2em;
		border-radius: 0.7em;
		-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.55);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.55);
	}
	.kartica-slika>img {
		width: 15em;
		height: 7em;
		border-radius: 0.7em;
	}
	.kartica-info{
		position: absolute; 
		right: 0;
		width: 13.5em;
		height: 100%;
		font-size: 1.1em;
	}
	.kartica-kontakt{
		position: absolute; 
		right: 0;
		width: 100%;
		font-size: 0.8em;
	}
	
	h2{
		font-size: 2em
	}
	
	.kartica-slogan{
		position: absolute; 
		left: 0;
		bottom: 4em;
		width: 11em;
		height: 6em;
		margin: 0.5em;
		margin-bottom: 0.9em;
		font-size: 0.8em;
		top: 6em;
		width: 13em;
	}
	.drustvene-mreze{
		position: absolute; 
		left: 0;
		bottom: 0;
		width: 100%;
		margin-bottom: 0.9em;
	}
	.drustvene-mreze a {
		float: left;
		margin-left: 0.9em;
		margin-right: 0.9em;
	}
	.drustvene-mreze a:hover{
		border: 1px solid white;
		border-radius: 0.4em
	}
	
	.drustvene-mreze .redirex-stranica{
		display: block;	
		float: right;
	}
	
	h1{
		font-size: 1.3em;
		
		font-family: 'Oswald', sans-serif;
	}
	h2{
		font-size: 1.3em;
		
		font-family: 'Oswald', sans-serif;
	}
	
	.navbar-brand strong {
		font-size: 1.4em;
	}
	
	
	}
@media (min-width: 768px){
	
	
.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;	
}		
/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
 z-index: 99999999
}

.icon-bar:hover{
			z-index: 9999999
		}

.facebook {
  background: #3B5998;
  color: white;
width: 25%;
height: 1.8em;	
padding: 2px;
}

.twitter {
  background: #55ACEE;
  color: white;
padding: 5px;
width: 25%;	
padding: 2px;
height: 1.8em;
}
	
.instagram {
background: rgba(94,15,140,1.00);
color: white;	
padding: 5px;
width: 25%;	
padding: 2px;
height: 1.8em;
	}

.web{
background: #4f4f4f;
color: black;
width: 25%;	
padding: 5px;
height: 1.8em;
	}

.google {
  background: #dd4b39;
  color: white;	
width: 1.7em;	
padding: 2px;
height: 1.8em;
}

.linkedin {
  background: #007bb5;
  color: white;	
width: 1.7em;
padding: 2px;
height: 1.8em;
}

.youtube {
  background: red;
  color: white;	
width: 25%;
padding: 2px;
height: 1.8em;
} 

.redirex{
background: black;
color: black;
width: 25%;
padding: 5px;
padding-top: 7%;
	font-size: 0.6em
	}
	
.icon-bar {
display: flex;
	position: absolute;
	width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	bottom: -1.4em;
	left: 0;
	
}

	
	.kartice-glavno{
		display: block;
		width: 100%;
		height: auto;
	}
	.kartice-sve{
		display: flex;
		flex-wrap: wrap;
		width: auto;
		padding-top: 3em;
		padding-bottom: 10em;
		margin-top: 1em;
		padding-left: 0.5em;
		padding: 2em
	}
	.kartica-telo{
		display: flex;
		width: 33em;
		height: 40em;
	    position: relative;
		margin-left: 0;
		margin-right: 0;
		font-size: 0.7em;
		margin-bottom: 4em;
		
	}
	.kartica-content{
		display: block;
		width: inherit;
		height: 15em;
		position: absolute; 
		right: 0; 
		bottom: 0;
		background: rgba(240,240,240,1.00);
		font-family: 'Oswald', sans-serif;
		border-radius: 0.7em;
		margin-top: 5em;
		font-size: 1.05em;
	}
	.kartica-slika{
		width: 17em;
		height: 10em;
		position: absolute;
		left: -0.5em;
		top: -1em;
		border-radius: 0.7em;
		-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.55);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.55);
	}
	.kartica-slika>img {
		width: 17em;
		height: 10em;
		border-radius: 0.7em;
	}
	.kartica-info{
		position: absolute; 
		right: 0;
		width: 12.5em;
		height: 100%;
		font-size: 1.1em;
		
	}
	.kartica-kontakt{
		position: absolute; 
		right: 0;
		width: 17em;
		font-size: 0.8em;
	}
	.kartica-slogan{
		position: absolute; 
		left: 1em;
		bottom: 3em;
		width: 18em;
		height: 10em;
		padding: 0.4em;
		font-size: 0.9em;
		top: 10em;
	}
	
}
@media (min-width: 768px){
	.malo {
		height: 25em;
		margin-left: 1em;
		margin-right: 1em;
		margin-top:5em;
		
	}
	.malo-plus {
		height: 25em;
		margin-left: 1em;
		margin-right: 1em;
		margin-top:5em;
	}
	.srednje{
height: 25em;
		margin-top:5em;
		margin-left: 1em;
		margin-right: 1em;
	}
	.srednje-plus{
		height: 27.5em;
		margin-left: 1em;
		margin-right: 1em;
		margin-top:5em;
	}
	.veliko{
		height: 25em;
		margin-left: 1em;
		margin-right: 1em;
		margin-top:5em;
	}
	.veliko-plus{
		height: 33em;
		margin-left: 1em;
		margin-right: 1em;
	}
	
}
	
	.navbar-brand strong {
		font-size: 1em
	}
	
	h1{
		font-size: 1.3em;
		
		font-family: 'Oswald', sans-serif;
	}
	h2{
		font-size: 1.3em;
		
		font-family: 'Oswald', sans-serif;
	}
	
	
	
	


#DITEKS{
		background: #333
	}
#myInput{
			height: 2em;
			width: 15em;
			padding: 1em;
			border-radius: 15px
		}