@media (max-height: 400px) {
.masonry { /* Masonry container */
  column-count: 2;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 25em;
}
}


.masonry { /* Masonry container */
  column-width: 25em;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
	margin-top: 1%;
}