#myInput {
	width: 50%;
	height: 3em;
	border:1px solid black;
	background-color:white;
	display:block;
	border: 2px solid #dadada;
    border-radius: 7px;
	box-shadow: 0 0 5px #9ecaed;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 2em
}

::placeholder { 
	color: rgba(0,0,0,1.00);
	padding-left: 2%;
}

.divider{
margin-bottom: 1em;	
}

#myInput[type=text] {
	padding-left: 1em;
}

@media (max-width: 768px){
	#myInput {
	width: 80%;
	}
}