
		@media (max-width: 768px){
		.footer{
			width: 100%;
			display: block;
			background: #212529	;
			margin-top: 15vh;
			padding-top: 3vh;
			text-align: center;
			
		}
		}
		@media (min-width: 768px)	{
		.footer{
			width: 100%;
			display: flex;
			background: #212529	;
			margin-top: 15vh;
			padding-top: 3vh;
			text-align: center;
			
		}	
		}
	
		body{
			background-image: url("galerijaa/backdrop-874452.jpg")
		}
		html{
			scroll-behavior: smooth;
		}
		
		@media (max-width: 768px){
			
			.banner img{
				display: block;
				margin: auto;
				z-index: -3;
				width: 100%;
			}
			.navbar{
				background: #4f4f4f;
				
			}
			.navbar-nav{
				margin: auto;
			}
			.navbar-nav li{
				margin-left: 1em;
				font-size: 1.1em;
			}
			.banner-divider{
				display: block;
				width: 100%;
			}
			.banner-divider img{
				display: block;
				width: inherit;
				margin: auto;
				margin-top: 2em;
			}
			.main-deo{
				display: block;
				flex-wrap: wrap;
				width: 100%;
				margin-top: 5em;
			}
			.deo{	
				display: block;
				background: #fff;
				margin: 1em;
				border-radius: 10px;
				width: 90%;
				margin: auto;
				margin-bottom: 5vw;
			}
			.d-mreze{
				width: 7em;
				display: flex;
				margin: auto;
			}
			.d-mreze a{
				margin: auto
			}
			.slika-deo{
				display: block;
				width: 100%;
				margin: auto;
				margin-left: 1em;
				padding-right:1.5em;
				padding-top:1em;
			}
			.tekst-deo{
				display: block;
				margin: 1em;
				width: 100%;
			}
			.tekst-deo h1{
				margin: 1vw;
				display: block;
				font-family: 'Yanone Kaffeesatz', sans-serif;
			}
			.tekst-deo p{
				margin: 1vw;
				padding-right: 1.2em;
				display: block;
			}
			.slika-deo img{
				width: inherit;
				display: block;
			}
			.o-nama{
				display: block;
				width: 90%;
				margin: auto;
				padding: 1em;
				background: #fff;
			}
			.o-nama h1{
				margin: 1em;
				font-family: 'Yanone Kaffeesatz', sans-serif;
			}
			.o-nama p{
				display: block;
				margin: 1em;
			}
			.onama-banner{
				display: block;
				width: 100%;
				height: 30em;
				background-image: url("galerijaa/nav-logo.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				opacity: 0.15;
				position: absolute;
				
			}
				.footer-kontakt{
				display: block;
				width: 100%;
				height: 20em;
				padding: 1em;
				margin: auto;
				text-align: center;
			}
			.footer-kontakt p{
				color: #fff;
				font-size: 0.7em;
				
			}
			.kontakt-title{
				color: #868e96;
				font-size: 2em;
				
			}
			.footer-link{
				display: block;
				width: 100%;
				height: 20em;
				margin: auto;
				text-align: center;
			}
			.footer-link p{
				display: block;
				color: #fff;
				
			}
			.footer-link a{
				display: block;
				color: #fff;
				
			}
			.link-title{
				color: #868e96;
				font-size: 2em;
				
			}
			.footer-filijale{
				width: 50%;
				display: flex;
				flex-wrap: wrap;
				
			}
			.petrovac, .pozarevac, .gradiste, .kucevo {
				width: 50%;
				
			}
			.petrovac, .pozarevac, .gradiste, .kucevo p{
				color: #fff;
				
			}
			.title-fil{
				color: #868e96;
				margin-bottom: 0.3em;
			}
			.footer-content{
				margin: auto;
				display: block;
				flex-wrap: wrap;
				width: 100%;
			}
		}
		
		@media (min-width: 768px){
			.banner img{
				display: block;
				margin: auto;
				z-index: -3;
				width: 100%;
			}
			.navbar{
				background: #4f4f4f;
				
			}
			.navbar-nav{
				margin: auto;
			}
			.navbar-nav li{
				margin-left: 1em;
				font-size: 1.1em;
			}
			.banner-divider img{
				display: block;
				margin: auto;
				margin-top: 5em;
			}
			.main-deo{
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin-top: 5em;
				padding: 2em;
			}
			.deo{	
				display: flex;
				flex-wrap: wrap;
				background: #fff;
				margin: 1em;
				border-radius: 10px;
				width: 90%;
				margin: auto;
				margin-bottom: 5vw;
			}
			.d-mreze{
				width: 7em;
				display: flex;
				margin: auto;
			}
			.d-mreze a{
				margin: auto
			}
			.slika-deo{
				display: block;
				width: 25%;
				margin: auto;
				margin-left: 1em;
				padding:1em;
			}
			.tekst-deo{
				display: block;
				margin: 2em;
				width: 65%;
				padding:1em;
			}
			.tekst-deo h1{
				margin: 1vw;
				display: block;
				font-family: 'Yanone Kaffeesatz', sans-serif;
			}
			.tekst-deo p{
				margin: 1vw;
				display: block;
			}
			.slika-deo img{
				width: 20vw;
				display: block;
			}
			.o-nama{
				display: block;
				width: 90%;
				margin: auto;
				padding: 2em;
				background: #fff;
			}
			.o-nama h1{
				margin: 1em;
				font-family: 'Yanone Kaffeesatz', sans-serif;
			}
			.o-nama p{
				display: block;
				margin: 2em;
			}
			.onama-banner{
				display: block;
				width: 100%;
				height: 30em;
				background-image: url("galerijaa/nav-logo.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				opacity: 0.15;
				position: absolute;
				
			}
			.footer-kontakt{
				display: block;
				width: 40%;
				padding: 1em;
				height: 25em;
				margin: auto;
				padding-right: 2em;
			}
			.footer-kontakt p{
				color: #fff;
				font-size: 1em;
				
			}
			.kontakt-title{
				color: #fff;
				font-size: 2em;
				
			}
			.footer-link{
				display: block;
				width: 40%;
				height: 25em;
				padding: 1em;
				margin: auto;
			}
			.footer-link p{
				color: #fff;
				
			}
			.footer-link a{
				display: block;
				color: #fff;
				margin-bottom: 0.5em;
				
			}
			.link-title{
				color: #fff;
				font-size: 2em;
				
			}
			.footer-filijale{
				width: 50%;
				display: flex;
				flex-wrap: wrap;
				
			}
			.petrovac, .pozarevac, .gradiste, .kucevo {
				width: 50%;
				
			}
			.petrovac, .pozarevac, .gradiste, .kucevo p{
				color: #fff;
				
			}
			.title-fil{
				color: #868e96;
				margin-bottom: 0.3em;
			}
			.footer-content{
				margin: auto;
				display: flex;
				flex-wrap: wrap;
				width: 100%;
			}
		}
		
.card__btn {
  display: block;
  width: 100%;
	margin: auto;
  padding: 1.5rem;
  font-size: 1.2em;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: rgba(134,185,213,1.00);
	color: white;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}
