@charset "utf-8";
.dropdown-content li:hover {
	background-color: rgba(18,97,179,1.00)
}

/* CSS Document */
.column  a {
	margin: 1em
}
@media (max-width: 768px) {
.masonry { /* Masonry container */
  column-count: 1;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
}

@media (min-width: 768px) {
.masonry { /* Masonry container */
  column-count: 3;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
	margin-top: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
}

@media (max-height: 400px) {
.masonry { /* Masonry container */
  column-count: 2;
  column-gap: 1em;
  margin-left: 1%;
  margin-right: 1%;
}

.column {
	background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
}


.column {
	height: 100%;
	position:inherit;
	justify-content: flex-end;
}

.column:hover{
	
	border-style: 1px solid;
	border-color: aqua;
}


.card:hover{
	.
	
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
background: url(../../banneri/background-okrug.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	
}

.btn-index{
	background-color: rgba(12,64,118,1.00);
	font: normal;
	color: white;
	font-size: 2vh;
	border-style: solid;
	border-color: aliceblue;
}  

.btn-index:hover{
	border: 2.5px solid;
	border-color: aqua;
}

.grid-container > a {
	font-size: 1em;
	border-style: solid;
	border-color: white;
}

.grid-container > a > div  {
		text-align: center;
		height: 100%;
	    vertical-align: middle;
		line-height: 3em;
}

@media (min-width: 768px) {
	.grid-container > a {
	font-size: 2em;
		
		
}
	.grid-container > a > div  {
		text-align: center;
		height: 100%;
	    vertical-align: middle;
		line-height: 3em;
		
}


}

.grid-container > a > div  {
		text-align: center;
		height: 100%;
	    vertical-align: middle;
		line-height: 3em;
	
}

@media (min-width: 768px) {
	.grid-container^  {
	font-size: 2em;
}
}

.grid-container a {
	justify-content: center center
}

      .footer {
  margin-top: auto;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button1 {
        border-radius: 2px;
      }
      .button2 {
        border-radius: 4px;
      }
      .button3 {
        border-top: 2px solid #555555;
        border-right: 10px;
        background-color: #4fc3f7;
      }
      .button4 {
        border-radius: 12px;
      }
      .button5 {
        border-radius: 99%;
      }
     
      
      
            .container {
        position: relative;
        width: 50%;
      }
      
      
      
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
      }
      
      .container:hover .overlay {
        width: 100%;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
     
        .div1 {
          float: left;
          height: 100%;
      
          width: 25%;
        }
           
          
           
           .outline {
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
      }
           
          .grid-container {
        
        
        display: grid;
        grid-template-columns: 48% 48% ;
        column-gap: 2%;
        overflow: hidden;
        margin-left: 5%;
		margin-right: 5%;	   
		grid-row-gap: 4vh;
        z-index: -2;
		margin-bottom: 3vh;
		justify-content: center;
			  
      }

.grid-container > a {
	box-shadow: 8px 8px 10px grey
}

         

         .grid-container^ {
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        column-gap: 2%;
        
        overflow: hidden;
        height: 100%;
		margin-left: 5%;	   
		grid-row-gap: 2%;
        z-index: -2;
		margin-bottom: 3vh;
		position: center center;	 
      }

.flex-container3 {
    text-align: left;
	
	top:1em;
    justify-content:space-around;
	vertical-align: 2em;
	overflow:hidden;
	z-index: -4;
	
}

.flex-container3 > a {
	text-align: left;
	font-size: 2rem;
	vertical-align: middle;
	line-height: 4rem;
}



div.card {
	
}

@media (max-width: 768px){
	.flex-container3 {
	    
        display:flex;
		z-index: -3;
	    flex-wrap: wrap;
	    justify-content: center;
	  }	
	
	.flex-container3 > div{
		
		justify-content: flex-start;
		width: 25em;
		
	}
}

.grid-container > a > div  {
		text-align: center;
		height: 100%;
	    vertical-align: middle;
		line-height: 3em;
}

@media (min-width: 768px) {
.flex-container3 {
	    
        display:flex;
		z-index: -3;
	    flex-wrap: wrap;
	    justify-content: center;
	  }	
	
	.flex-container3 > div{
		padding: 1rem;
		object-position: center;
		width: 28em;
		
	}
	
}

.flex-container4 {
	
	display: grid;
    text-align: left;
    column-gap: 10%;
    margin-left: 2%;
	margin-right: 1%;	   
	grid-row-gap: 0.7%;
    font-size: 1em;
	vertical-align: 2em;
	padding-bottom: 2em;
	overflow: visible;
}

.flex-container4 > a {
	text-align: center;
	font-size: 1.7rem;
	vertical-align: middle;
	line-height: 4rem;
	column-gap: 1em;
	height: 2.5em;
}

.flex-container4 > a > img {
		
		height: 100%;
		width: 100%;
		align-content: right;
	}

.flex-container4 > a {
	box-shadow: 5px 5px 3px grey
}

@media (min-width: 768px) {
.flex-container4 {
	
        display: grid;
        grid-template-columns: 45% 45% ;	   
		grid-row-gap: 2em;
        justify-content: center;
	    column-gap: 5%;
		padding-bottom: 3em;
			 
	}

	
	.flex-container4 > a {
	font-size: 2em;
	text-align:left;
	height: 2.3em;
	
		
}
	.flex-container4 > a > img {
		
		height: 100%;
		width: inherit;
		
	}
	
	.flex-container4 > a > text {
		vertical-align: middle
	}
}
       
          

          #background-slika{
            background-image: url('IMG_20191107_205101_HDR_kraca.jp');
            z-index: -1;
            background-size: 100% 35vh;
            background-repeat: no-repeat;
            

          }
            
          .navbar-default {
          background-color: #F8F8F8;
          border-color: #E7E7E7;
        width: 100%;		
      }
          
          .slide-out-desktop{
            width: 90%;
          }
          
          
          
          .content-glavni{ 
            background: rgb(7, 7, 7);
  z-index: -1;
  -webkit-box-shadow: 0 0 2vw 0.3vw rgb(83, 82, 82);
  box-shadow: 0 0 20% 21% rgb(63, 62, 62);

  margin-bottom: 1%;
}
          
          
          
      
      
      
      /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      } 
          .nav-wrapper {

	line-height: 3rem;
	margin: 0;
	padding: 0;
	max-height: 3rem;
           
       background-color:rgba(12,64,118,0.8) ;
           
      }
          .nav-wrapper:hover{
            background-color:rgba(12,64,118,1.00) 
        
          }
          
          .polaroid:hover{
          border: 4px solid #fff;
         
            
            
      }
          
          
        .overlay1 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
      }
      
      .container1:hover .overlay1 {
  width: 33%;
}
	.container2:hover .overlay1 {
  width: 97%;
}
        
        .text1 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
          white-space: nowrap; }
        
        .image1 {
        display: block;
        width: 100%;
        height: auto;
      }
          .container1 {
        position: relative;
        width: 100%;
      }
        
        .container2 {
        position: relative;
        width: 100%;
      }
       
        
      
      
      .grid-container > a {
	font-size: 1em;
}

.grid-container > a > div  {
		text-align: center;
		height: 100%;
	    vertical-align: middle;
		line-height: 3em;
}

@media (min-width: 768px) {
	.grid-container > a {
	font-size: 2em;
}
}


#contact { 
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        color: white;
        text-align: center;
        cursor: pointer; 		
      }
      
      
      #contact:active { background: #444; }
      
      #contactForm {
box-shadow: 25px 25px 20px;
 
        display: none;
        border: 6px solid rgba(12,64,118,1.00); 
        padding: 1em;
        width: 60vw;
        text-align: center;
        z-index: 1;	
        background: #fff;
        position: fixed;
        top:50%;
        left:50%;
       -webkit-transform: translate(-50%,-50%);
		 transform: translate(-50%,-50%); 
		  
        
      }
      
      input, textarea { 
        margin: .8em auto;
        font-family: inherit; 
        text-transform: inherit; 
        font-size: inherit;
        
        display: block; 
        width: 40vw; 
        padding: .4em;
      }
      textarea { height: 25vh; resize: none; }
      
      .dropdown-content {
background-color:rgba(12,64,118,1.00);
  
        margin-top: 4vh;
        max-height: 40vh;
        max-width: 100%;
		
      }




.nav-wrapper{
	
	top: 0%;
	z-index: 5;
}

.footer {
  
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1em;
}

p{
	font-size: 0.9rem;
}

p1{
	
	text-align: center
}
	
	.card-image{
		color: gray
	}

.nav-wrapper > span > i {
	font-size: 1rem;
}

@media (min-width: 768px){
	.nav-wrapper > span > i {
	font-size: 1.7rem;
}
	
}




.nav-wrapper{
	
	top: 0%;
}

.nav-wrapper > span > i {
	font-size: 1rem;
}

.footer {
  
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1em;
  
}

        
	
